{% extends '::base.html.twig' %}

 {% block body %}

     <div class="row">
         <div class="panel-heading">
             <h4>
                 Dernière vidéo !
             </h4>
         </div>
         <div class="panel-body">
             <div class="dataTables_wrapper" role="grid">

                 <div class="row">
                     <div class="col-xs-3">
                         <div class="dataTables_length">
                             <label>
                                 <select class="form-control" size="1" id="maxPerPage">
                                     <option {% if (max == 5) %} selected {% endif %} value="{{path ('mew_pipe_video_homepage_pager', {'page' : page, 'max': 5,   'sort': sort, 'direction': direction})  }}">5</option>
                                     <option {% if (max == 10) %} selected {% endif %} value="{{path ('mew_pipe_video_homepage_pager', {'page' : page, 'max': 10, 'sort': sort, 'direction': direction})  }}">10</option>
                                     <option {% if (max == 25) %} selected {% endif %} value="{{path ('mew_pipe_video_homepage_pager', {'page' : page, 'max': 25, 'sort': sort, 'direction': direction})  }}">25</option>
                                     <option {% if (max == 50) %} selected {% endif %} value="{{path ('mew_pipe_video_homepage_pager', {'page' : page, 'max': 50, 'sort': sort, 'direction': direction})  }}">50</option>
                                 </select>
                                 videos par page
                             </label>
                         </div>
                     </div>

                     <div class="col-xs-3">
                         <div class="dataTables_length">
                             <label>
                                 <select class="form-control" size="1" id="maxPerPage">
                                     <option {% if (sort == 'createdAt') %} selected {% endif %} value="{{path ('mew_pipe_video_homepage_pager', {'page' : page, 'max': max,   'sort': 'createdAt', 'direction': direction})  }}">date de création</option>
                                     <option {% if (sort == 'views') %} selected {% endif %} value="{{path ('mew_pipe_video_homepage_pager', {'page' : page, 'max': max, 'sort': 'views', 'direction': direction})  }}">nombres de vue</option>
                                     <option {% if (sort == 'title') %} selected {% endif %} value="{{path ('mew_pipe_video_homepage_pager', {'page' : page, 'max': max, 'sort': 'title', 'direction': direction})  }}">titre</option>
                                 </select>
                                 trier par
                             </label>
                         </div>
                     </div>

                     <div class="col-xs-3">
                         <div class="dataTables_length">
                             <label>
                                 <select class="form-control" size="1" id="maxPerPage">
                                     <option {% if (direction == 'acs') %} selected {% endif %} value="{{path ('mew_pipe_video_homepage_pager', {'page' : page, 'max': max,   'sort': sort, 'direction': 'asc'})  }}">Croissant</option>
                                     <option {% if (direction == 'desc') %} selected {% endif %} value="{{path ('mew_pipe_video_homepage_pager', {'page' : page, 'max': max, 'sort': sort, 'direction': 'desc'})  }}">Décroissant</option>
                                 </select>
                                 Direction
                             </label>
                         </div>
                     </div>
                 </div>

                 <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-hover table-bordered datatables paginated">
                     <tbody>
                     {% if length == 0 %}
                         <tr>
                             <td colspan="4>
                                 <center>{% trans %}no_element_available_show_yet{% endtrans %}</center>
                             </td>
                         </tr>
                     {% endif %}
                     <div class="row">
                     {% set elementInLine = 1 %}
                     {% for data in pagination %}
                     {% if elementInLine > 4 %}
                     {%  set elementInLine = 0 %}
                         </div><div class="row">
                     {% endif %}

                        <div class="col-md-3">
                            <div class="text-primary text-center">{{ data.title }}</div>
                            <a href="google.fr" class="gallerypic" title="">
                            <img src="{{ asset('img/'~ data.pathToImage) }}" alt="{{ data.title }}" class="img-thumbnail img-responsive">
                            <span class="zoom-icon">
                                Information sur la vidéo :<br>
                                Titre : {{ data.title }}<br>
                                Description : {{ data.description }}<br>
                                nombre de vues : {{ data.views }}
                            </span>
                            </a>
                            <div class="text-info text-center">{{ data.views }} vues</div>
                        </div>


                     {%   set elementInLine = elementInLine +1 %}
                     {% endfor %}
                     </div>
                     {% if pagination.getTotalItemCount() > 0 %}
                         <tr>
                             <td colspan="2">
                                 {% set to %}
                                 {% if pagination.getTotalItemCount() < max * page %}
                                     {{ pagination.getTotalItemCount() }}
                                 {% else %}
                                     {{ max * page }}
                                 {% endif %}
                                 {% endset %}
                                 video {{ (max * page) - max +1 }} à {{ to }} sur {{ pagination.getTotalItemCount() }} vidéos
                             </td>
                             <td colspan="2">
                                 {{ knp_pagination_render(pagination) }}
                             </td>
                         </tr>
                     {% endif %}
                     </tbody>
                 </table>


             </div>
         </div>
     </div>

         <div class="row">
             <div class="panel-heading">
                 <h4>
                     La vidéo du moment !
                 </h4>
             </div>
             <div class="panel-body">
         <div class="col-md-8" style="background: wheat">
                 <div class="videoUiWrapper thumbnail">
                     <video width="100%" id="vdHotPress" controls>
                         <!-- set width to 100% and add controls for play and volume buttons-->
                         <source src=http://techslides.com/demos/sample-videos/small.mp4 type=video/mp4>
                         Your browser does not support the video tag.
                     </video>
             </div>
         </div>
     </div>
             </div>


 {% endblock %}

